<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All movies</title>
    <link rel="stylesheet" th:href="@{/static/css/movies.css}">
</head>
<body>
<h1 class="pageTitle">Movies</h1>
<form th:method="GET" th:action="@{/movies/search}">
    <input type="submit" value="Search movie">
</form>
<div class="personal-area">
    <a th:href="@{/personal-area}">
        <img class="user-icon" th:src="@{https://avatars.mds.yandex.net/get-yapic/0/0-0/islands-middle}"/>
    </a>
</div>

<p>All movies:</p>
<article class="content">
    <div class="movies">
        <div class="single-movie-container" th:each="movie : ${movies}">
            <h3 class="movie-name" th:text="${movie.getName()}">Name</h3>
            <span class="movie-year" th:text="${movie.getYearOfProduction()}">Year</span>
            <a th:href="@{/movies/{id}(id=${movie.getId()})}">
                <img class="poster" th:src="@{${movie.getPoster()}}" width="350"
                     height="350" alt=""/></a>
        </div>
        <script type="text/javascript" th:src="@{/static/js/movies.js}"></script>
    </div>
</article>
<br/>
<hr/>
<br/>
<form class="logout" th:method="POST" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>


</body>
</html>