<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All movies</title>
</head>
<body>
<form th:method="GET" th:action="@{/admin/movies/search}">
    <input type="submit" value="Search movie">
</form>
<p>All movies:</p>
<div class="movies">
<div class="single-movie-container" th:each="movie : ${movies}">
    <a class="movie-name" th:href="@{/admin/movies/{id}(id=${movie.getId()})}"
       th:text="${movie.getName()}">Name</a>
    <span class="movie-year" th:text="${movie.getYearOfProduction()}">Year</span>
</div>
</div>


<br/>
<hr/>
<a href="/admin/movies/new">Create new movie</a>
<br>
<a href="/admin/actors">All actors</a>
<br/>
<br/>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="logout">
</form>

</body>
</html>