<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/movies/search}">
    <label for="query">введите поисковый запрос: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Искать">
</form>
<div th:if="${movies}">
    <div th:if="${movies.isEmpty()}">
        <span>Книг не найдено</span>
    </div>
    <div th:each="movie : ${movies}">
        <a th:href="@{/admin/movies/{id}(id=${movie.getId()})}"
           th:text="${movie.getName()} + ', ' + ${movie.getYearOfProduction()} + ', rate: '
        + ${movie.getRate()}">movie</a>
    </div>
</div>
<br/>
<hr/>
<br>
<form th:method="GET" th:action="@{/admin/movies}">
    <input type="submit" value="Return">
</form>
</body>
</html>